* {
	margin: 0;
	padding: 0;
}
$color: #49c5b6; //nie ruszać - przyda się
@import "grid";
body {
	margin: 0;
	font-family: sans-serif;
}
.page-header {
	background: linear-gradient(#949bdd, #fff);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}
.main-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	li a {
		display: inline-block;
		color: #fff;
		text-shadow: 1px 1px 5px gray;
		font-size: 18px;
		text-decoration: none;
		padding: 20px 30px;
	}
}
.box-title1{
	color: #fff;
	text-shadow: 5px 5px 10px #949bdd;
	font-size: 50px;
	position: absolute;
	bottom: 150px;
	left: 20px;
}
.box1 {
	position: relative;
	z-index: -1;
}

.main-logo {
	margin-left: 35px;
}
.page-main {
	max-width: 100vw;
}
.box-image {
	max-width: 100%;
}
@media (max-width: 1050px){
	.page-header {
		flex-direction: column;
		padding: 5px;
		height: 100%;
	}
}
.main-nav-toggle {
	display: none;
}
@media (max-width: 780px) {
	.main-nav-toggle {
		width: 57px;
		height: 57px;
		display: block;
		background-color: transparent;
		border: none;
		&:active {
			background-color: darken(#949bdd, 1);
		}
		span {
			display: block;
			background-color: grey;
			width:40px;
			height:5px;
			margin: 6px 8px;
		}
	}
		.page-header {
			padding: 5px;
			height: 70px;
			flex-direction: row;
			justify-content: space-between;
		}
		.main-nav-list {
			position: fixed;
			transition: 0.5s transform;
			top:0;
			left:-320px;
			width: 320px;
			height: 80%;
			background: #949bdd; //darken($color, 10);
			flex-direction: column;
			opacity: 0.88;
		}
		.main-nav-list.show {
		//	transform: translate(100%);
			transform: translate(320px, 80px); //zejdzie pod logo
			.container {
				margin: 0 $mainMargin;
				.row {
					display: flex;
				}
			}
		}
}


